&nbsp;

# <center>Analysis Challenge Assignment 1</center>
### <center>Alex School Selction</center>
<center>Author: Simon Chen, Jianan Dingqian</center>
<center>Time: Sep 28, 2021</center>

#### **1. Criteria**

Alex wants to pursue a degree in Education. She wants to find the best school within U.S. with following requirements: <br>
1. Safety (low crime)
2. Urban (big city preferred)
3. Diversity (diverse culture)
4. Quality (decent program, but need to be defined)

#### 2. Tasks

1. Create a dataset with limited information(e.g., crime rate, admission rate) to meet criteria.
2. Keep record of code and descriptions to explain designed approach.
3. Create a rule to rank the schools in consideration of all of Alex criteria taken together. (Bonus)

#### 3. Import


###### a. Crime data

In [19]:
# Import libraries.
import pandas as pd
# Reading the crime data in 2015 from shareable link into Pandas.
crime_data = pd.read_csv('Crime_2015.csv')
# Since the reports number is the rates of reported offenses per 100,000 population.
# So we could just sum them up for each city to get the total rates by creating a new column rates.
crime_data['Rates'] = crime_data.sum(axis=1)

# This table is now arranging cities from Hige crime rate to Low crime rate
crime_data = crime_data.sort_values(by='Rates') 
crime_data.head(3)

/var/folders/dk/0mc07v5d6_76957h6trqmgzh0000gn/T/ipykernel_59522/982139797.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_data['Rates'] = crime_data.sum(axis=1)

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City,Rates
193,"Logan, UT-ID M.S.A.",61.6,0.8,33.1,2.3,25.5,"1,201.2",208.1,950.3,42.8,UT,Logan,104.5
20,"Bangor, ME M.S.A.",67.3,2.0,9.1,17.6,38.5,"1,984.5",337.0,"1,604.4",43.1,ME,Bangor,110.3
376,"San German, Puerto Rico M.S.A.",92.1,5.4,4.6,16.1,66.0,420.0,168.9,226.5,24.6,"San German, Puerto Rico M.S.A.",San German,116.7

>###### b. College Scorecard data

In [106]:
# Reading College Scorecard data in pandas df.
college_data = pd.read_csv('CollegeScorecard.csv')
college_data.head(3)

/Users/simon/opt/anaconda3/envs/HUDK4050/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7,9,1427,1542,1561,1575,1725,1726,1727,1728) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,C200_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,0.443586698337,0.45251396648,0.484818805093,0.406,0.423580786026,0.442452830189,NaN,0.30871831265508,NaN,0.35168556430446
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,0.732297852901,0.795454545455,0.760521885522,0.755344418052,0.751552795031,0.765074770863,NaN,0.50854980789381,NaN,0.4730923834537
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,0.600877192982,0.775,0.610465116279,0.686567164179,0.632653061224,0.65,NaN,PrivacySuppressed,NaN,PrivacySuppressed

In [108]:
# Change STABBR to State for merge purpose.
college_data.rename(columns = {'CITY':'City', 'STABBR':'State'}, inplace = True)

#### **4. Cleaning and Processing data**



###### a. Merge datasets

In [117]:
# Then we rank the score to get a SafetyScore
# Since the reports number is the rates of reported offenses per 100,000 population.
# So we could just sum them up for each city to get the total rates by creating a new column rates.

# Merge two datasets by States and City.
combined_data = pd.merge(college_data, crime_data, on = ['State', 'City'])
combined_data.head(3)

/var/folders/dk/0mc07v5d6_76957h6trqmgzh0000gn/T/ipykernel_59522/1486386492.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_data['rates'] = crime_data.sum(axis=1)

,UNITID,OPEID,opeid6,INSTNM,City,State,ZIP,AccredAgency,INSTURL,NPCURL,...,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,Rates,rates
0,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,11.1,46.2,157.7,467.1,"3,344.9",817.6,"2,262.0",265.3,947.4,17053.2
1,100937,101200,1012,Birmingham Southern College,Birmingham,AL,35254,Southern Association of Colleges and Schools C...,www.bsc.edu/,www.bsc.edu/fp/np-calculator.cfm,...,11.1,46.2,157.7,467.1,"3,344.9",817.6,"2,262.0",265.3,947.4,17053.2
2,101365,962107,9621,Herzing University-Birmingham,Birmingham,AL,35209,NaN,www.herzing.edu/birmingham,www.herzing.edu/financial-aid/net-price-calcul...,...,11.1,46.2,157.7,467.1,"3,344.9",817.6,"2,262.0",265.3,947.4,17053.2

###### b. Process data

*Urban*

>Determine urban by LOCALE data:<br>
11 -- City: Large (population of 250,000 or more)<br>
12 -- City: Midsize (population of at least 100,000 but less than 250,000)<br>
12 -- City: Small (population less than 100,000)

In [118]:
urban_dat = combined_data.filter(['INSTNM', 'City', 'State', 'LOCALE'], axis=1)
# Filter the city by 11, 12, 13.
raw_dat = urban_dat[(urban_dat['LOCALE'] >= 11) & (urban_dat['LOCALE'] <= 13)]
raw_dat.head(3)

                                INSTNM        City State  LOCALE
0  University of Alabama at Birmingham  Birmingham    AL    12.0
1          Birmingham Southern College  Birmingham    AL    12.0
3    Jefferson State Community College  Birmingham    AL    12.0

*Diversity*

> Use sum of <br>
UGDS_BLACK, UGDS_HISP, UGDS_ASIAN, UGDS_AIAN, UGDS_NHPI<br>to determine the Minority shares.
Higher values means more diverse. (I assume)..
If there is UG_WHITENH data, this would be simple.

In [119]:
# To get the sum of UGDS_BLACK, UGDS_HISP, UGDS_ASIAN, UGDS_AIAN, UGDS_NHPI to determine the Minority shares.
college_data['Diversity'] = college_data.iloc[:, college_data.columns.get_loc('UGDS_BLACK'):
                                             college_data.columns.get_loc('UGDS_NHPI')].sum(axis=1)
# To add the Diversity column from college data.
raw_dat['Diversity'] = raw_dat.merge(college_data, on = ['City', 'State'])['Diversity']
raw_dat.head(3)

/var/folders/dk/0mc07v5d6_76957h6trqmgzh0000gn/T/ipykernel_59522/3117692375.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_dat['Diversity'] = raw_dat.merge(college_data, on = ['City', 'State'])['Diversity']

                                INSTNM        City State  LOCALE  Diversity
0  University of Alabama at Birmingham  Birmingham    AL    12.0     0.3392
1          Birmingham Southern College  Birmingham    AL    12.0     0.1737
3    Jefferson State Community College  Birmingham    AL    12.0     0.2759

*Quality*

> In order to define a decent educational program, we are taking the following types of data into consideration:
> 1. Percentage of degrees awarded in Education.
> 2. Certificate of less than one academic year in Education.
> 3. Certificate of at least one but less than two academic years in Education.
> 4. Associate degree in Education.
> 5. Award of more than two but less than four academic years in Education.

In [120]:
# To get the sum of 'PCIP13','CIP13CERT1','CIP13CERT2','CIP13CERT4','CIP13ASSOC' to determine the program quality.
quality_names = ['PCIP13','CIP13CERT1','CIP13CERT2','CIP13CERT4','CIP13ASSOC']
college_data['Quality'] = college_data[quality_names].sum(axis=1)

# To add the quality column from college data.
raw_dat['Quality'] = raw_dat.merge(college_data, on = ['City', 'State'])['Quality']
raw_dat.head(3)

/var/folders/dk/0mc07v5d6_76957h6trqmgzh0000gn/T/ipykernel_59522/2360730570.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_dat['Quality'] = raw_dat.merge(college_data, on = ['City', 'State'])['Quality']

,INSTNM,City,State,LOCALE,Diversity,Quality
0,University of Alabama at Birmingham,Birmingham,AL,12.0,0.3392,2.0862
1,Birmingham Southern College,Birmingham,AL,12.0,0.1737,0.0731
3,Jefferson State Community College,Birmingham,AL,12.0,0.2759,0.0000